body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    text-align: center;
}

#magni {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: float 3s ease-in-out infinite;
    pointer-events: none;
}

.eyes {
    width: 37%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 46%;
    left: 39%;
    transform: translateX(-50%);
    column-gap: 25px;
    animation: float 3s ease-in-out infinite;
}

.eye {
    width: 90px;
    height: 16px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pupil {
    width: 20px;
    height: 20px;
    border-radius: 101px;
    background-color: #000;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#dialogue {
    color: #fff;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease;
    width: 100%;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

@keyframes jitter {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(calc(var(--x) * 2px), calc(var(--y) * 2px));
    }

    50% {
        transform: translate(calc(var(--x) * -2px), calc(var(--y) * -2px));
    }

    75% {
        transform: translate(calc(var(--x) * -2px), calc(var(--y) * 2px));
    }
}

.jitter {
    display: inline-block;
    animation: jitter 0.15s ease-in-out infinite;
}